<form>
  <div class="input-group mb-3">
    <input type="email" class="form-control" placeholder="Correo electrónico" />
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="Contraseña" />
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="icheck-primary">
        <input type="checkbox" id="remember" />
        <label for="remember" class="ml-1"> Recordar </label>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block">
        Ingresar <i class="ml-2 fas fa-sign-in-alt"></i>
      </button>
    </div>
  </div>
</form>
