<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <div class="brand-link text-center d-flex align-items-center flex-column">
    <img
      src="../../../../assets/images/logo.png"
      alt="LOGO"
      class="brand-image elevation-3 d-block bg-info my-2"
    />
    <span class="brand-text font-weight-light">{{ companyName }}</span>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div
      class="user-panel mt-3 pb-3 mb-3 d-flex flex-column align-items-center"
      *ngIf="userProfile"
    >
      <div class="image text-center">
        <p
          class="img-circle elevation-2 d-block bg-primary mb-0"
          [style]="{ width: '36px', height: '36px', 'font-size': '24px' }"
        >
          {{ userInitialLetter }}
        </p>
      </div>
      <div class="info">
        <p class="d-block mb-0">{{ userProfile.name }}</p>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Generating navbar  -->
        <ng-container *ngFor="let item of menu">
          <li class="nav-header" *ngIf="item.title">
            {{ item.title | uppercase }}
          </li>
          <ng-container *ngIf="!item.title && !item.childs && item.label">
            <li class="nav-item">
              <a [routerLink]="item.routerLink" class="nav-link">
                <i [class]="item.icon"></i>
                <p>
                  {{ item.label }}
                </p>
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="!item.title && item.label && item.childs">
            <li class="nav-item">
              <a class="nav-link">
                <i [class]="item.icon"></i>
                <p>
                  {{ item.label }}
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item" *ngFor="let child of item.childs">
                  <a [routerLink]="child.routerLink" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>{{ child.label }}</p>
                  </a>
                </li>
              </ul>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
